body {
    padding: 0;
    margin: 0;
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 235);
}

#music {
    display: none;
}

.main {
    border-radius: 10px;
    width: 350px;
    height: 500px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.575);
}

.imgDiv {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.imgDiv img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.player {
    width: 350px;
    height: 100px;
    background-color: rgba(54, 54, 54, 0.334);
    backdrop-filter: blur(8px);
    color: white;
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls {
    margin: 10px 0 0 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

#bar {
    margin: 20px 0 0 0;
    width: 280px;
    height: 5px;
}

#play_svg {
    height: 40px;
    width: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;
}

#pause_svg {
    height: 40px;
    width: 40px;
    background-color: white;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;
}

.changeSong {
    height: 40px;
    width: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;
}

.pp_svg {
    height: 25px;
    width: 25px;
}

#volControl {
    display: none;
    align-items: center;
    height: 100px;
    width: 100px;
}

.volume {
    height: 40px;
    width: 40px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;
}

#volIcon {
    margin: 0 0 0 8px;
}

#muteIcon {
    margin: 0 0 0 7px;
}

#vol {
    width: 90px;
    height: 5px;
    margin: -15px 0 0 -25px;
    transform: rotate(-90deg);
}